<div class="container">
    <ng-select class="custom my-5 w-25 box" [items]=users bindLabel="name" bindValue="id" (change)="onselect($event)"></ng-select>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td >{{user.id}}</td>
                <td popover="{{user.name}}" >{{user.name}}</td>
                <td tooltip="{{user.username}}">{{user.username}}</td>
                <td tooltip="{{user.email}}">{{user.email}}</td>
                <td>
                    <button class=" btn btn-outline-primary" (click)="edituser(user.id)" >Edit</button>
                    <button class=" btn btn-outline-success ml-2" (click)="openModal(template)">view</button>
                    <ng-template #template>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">This is {{user.name}}</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li class="bg-warning">Student Id is:{{user.id}}</li>
                                <li>Student Name is:{{user.name}}</li>
                                <li class="bg-success">Student Email is:{{user.email}}</li>
                                <li>Student Username is:{{user.username}}</li>
                            </ul>  
                        </div>
                    </ng-template>
                </td>
            </tr>  
           
        </tbody>
        
    </table>
</div>

